$white: #f9fafb;
$black: #0C0C0C;
$fade-black: rgba(12, 12, 12, 0.5);

$light-grey: rgba(149, 157, 165, 0.2);
$grey: rgba(97, 102, 107, 0.3);
$dark-grey: rgba(25, 26, 26, 0.65);

$positive-color: #69DC9E;
$negative-color: #BA5A31;
$other-color: #E59F71;